{% load staticfiles %}
<html>
    <head>
        <title>django-chartjs line chart demo</title>
        <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    </head>
    <body>

        <canvas id="myChart" width="500px" height="400px"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'tracker/js/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'tracker/js/jschart.min.js' %}"></script>
<script>
    var ctx = document.getElementById('myChart');
    var dates = JSON.parse('{{ x|safe }}');
    var counts = JSON.parse('{{ y|safe }}');
    var color = Chart.helpers.color;

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [

                {
                    data: counts[0],
                    label: '2015',
                    borderColor:
                'rgba(255, 99, 132, 0.2)',
                    fill: false


                },
                {
                    data:counts[1],
                    label:'2016',
                    borderColor:
                    'rgba(54, 162, 235, 0.2)',
                    fill: false


                },
                {
                    data:counts[2],
                    label:'2017',
                    borderColor:
            'rgba(255, 206, 86, 0.2)',
                    fill: false
                },

            ]
        },
        options:{
  scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Number of Storms'
      }
    }]
  }
}



    })
</script>
    </body>
</html>