<!DOCTYPE html>
<html lang="en">
{%  load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hurricane Tracker</title>

    <!-- Bootstrap Core CSS -->

    <link href={% static 'tracker/css/bootstrap.min.css'%} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={% static 'tracker/css/blog-home.css'%} rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Current Storms</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Data</a>
                    </li>
                    <li>
                        <a href="www.tdhagler.com">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!--homepage -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Tropical Weather
                    <small>Tropical Storm Tracker</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="#">5 Day Outlook</a>
                </h2>

                <hr>
                <img class="img-responsive"  src="http://www.nhc.noaa.gov/xgtwo/two_atl_5d0.png" style="width:900px;height:500px;">

                <hr>





            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">


                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 style="text-align: center;">Active Storms</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            {% if active_storm %}
                            <ul class="list-unstyled">
                                {% for storm in active_storm %}
                                <li><a href="/stormdata/{{ storm }}">{{ storm }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                    </div>


                    </div>
                                <!-- inactive well -->
                <div class="well">
                    <h4 style="text-align: center;">Inactive Storms</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            {% if active_storm %}
                            <ul class="list-unstyled">
                                {% for storm in inactive_storms %}
                                <li><a href="/stormdata/{{ storm }}">{{ storm }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                    <!-- /.row -->
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Todd Hagler 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src={% static 'tracker/js/jquery.js' %}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static 'tracker/js/bootstrap.min.js'%}></script>

</body>

</html>
