<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{%  load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hurricane Tracker</title>

    <!-- Bootstrap Core CSS -->

    <link href={% static 'tracker/css/bootstrap.min.css'%} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={% static 'tracker/css/blog-home.css'%} rel="stylesheet">

    <!-- Leaflet reqs -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
        integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
        crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Current Storms</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/About">About</a>
                    </li>
                    <li>
                        <a href="/data">Data</a>
                    </li>
                    <li>
                        <a href="http://www.tdhagler.com">About The Author</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!--homepage -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Tropical Weather
                    <small>Tropical Storm Tracker</small>
                </h1>

                <!-- First Blog Post -->
                    <p>5 Day Outlook</p>


                <hr>
                <img class="img-responsive"  src="http://www.nhc.noaa.gov/xgtwo/two_atl_5d0.png" style="width:900px;height:500px;">

                                <hr>

                {% include "mapbox.html" %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">


                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 style="text-align: center;">Active Storms</h4>
                    <div class="row">
                        <div class="col-lg-12">
                          {% if active_storm %}
                                <table class="table">
                                <thead><tr>
                                    <th>Storm</th>
                                    <th>Max Wind Spd</th>
                                </tr>

                                </thead>
                                <tbody>
                                    {% for storm in active_storm %}
                                        <tr>
                                            <td><a href="/stormdata/{{ storm }}">{{ storm.peak_intensity }} {{ storm.get_current_name }} </a></td>
                                            <td><p>{{ storm.current_wind }}</p></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                        {% endif %}
                        </div>

                    </div>


                    </div>
                                <!-- inactive well -->
                <div class="well">
                    <h4 style="text-align: center;">Inactive Storms</h4>
                    <div class="row">
                        <div class="col-lg-12">
                          {% if inactive_storms %}
                                <table class="table">
                                <thead><tr>
                                    <th>Storm</th>
                                    <th>Last Observed</th>
                                </tr>

                                </thead>
                                <tbody>
                                    {% for storm in inactive_storms %}
                                        <tr>
                                            <td><a href="/stormdata/{{ storm }}">{{ storm.peak_intensity }} {{ storm.get_current_name }} </a></td>
                                            <td><p>{{ storm.last_observed|date:"F, j" }}</p></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                        {% endif %}
                        </div>

                    <!-- /.row -->
                </div>





            </div>

        </div>
        <!-- /.row -->
            <div class="col-md-4">
                                 <!-- Basin Activity well -->
                <div class="well">
                    <h4 style="text-align: center;">Basin Activity</h4>
                    <div class="row">
                        <div class="col-lg-12">

                                <table class="table">
                                <thead><tr>
                                    <th>Basin</th>
                                    <th>Storm Count</th>
                                </tr>

                                </thead>
                                <tbody>
                                    {% for basin, count in basin_stats.items %}
                                        <tr>
                                            <td><p>{{ basin }}</p></td>
                                            <td><p>{{ count }}</p></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>

                        </div>

                    <!-- /.row -->
                </div>
            </div>
        <hr>
            </div>
        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Todd Hagler {% now "Y" %}</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src={% static 'tracker/js/jquery.js' %}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static 'tracker/js/bootstrap.min.js'%}></script>

</body>

</html>
