<!DOCTYPE html>
<html lang="en">
{%  load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ most_recent.current_name }} - Storm Data</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static 'tracker/posts/vendor/bootstrap/css/bootstrap.min.css'%}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static "tracker/posts/css/blog-post.css"%} rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

{% include 'postsnav.html' %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{ storm.get_current_name }}</h1>

                <!-- Author -->
                <p class="lead">
                    Category:<a href="#">{%  if storm.latest_adv.saffir_scale > 0 and storm.active %}
                    {{ storm.latest_adv.saffir_scale }}
                    {% endif %}
                    {{ storm.peak_intensity }}</a><br>
                    {{ storm.basin_name }}

                </p>

                <hr>

                <!-- Date/Time -->
                <p>As of {{ storm.latest_adv.date|date:"F j, Y"}} at {{ storm.latest_adv.date|date:"P e" }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="http://www.nhc.noaa.gov/storm_graphics/{{ storm.image_url }}/{{ most_recent.stormid|upper }}_5day_cone_no_line.png" alt="">

                <hr>

                <!-- Post Content -->




                <hr>
                <img class="img-fluid rounded" src="http://www.ssd.noaa.gov/PS/TROP/floaters/{{ most_recent.image_link }}/imagery/vis0-lalo.gif" alt="">






            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Statistics</h5>
                    <div class="card-block">

                        <p>Current Location: {{ storm.latest_adv.storm_location}}</p>
                        <p>Maximum Sustained Winds: {{ storm.latest_adv.max_sus_wind}}</p>
                        <p>Highest winds observed: {{ storm.max_wind_speed.max_sus_wind }}</p>
                        {% if storm.max_wind_speed.saffir_scale %}
                            <p>Highest Saffir-Simpson Scale: {{ storm.max_wind_speed.saffir_scale }}</p>
                        {% endif %}
                        <p></p>
                        <div style="max-width: 300px; max-height: 300px">
                            {% include 'data_viz.html' %}
                        </div>
                    </div>
                </div>
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Advisories {% if storm.active %}ACTIVE STORM{% endif %}</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled mb-0">
                                    {% for adv in advisories %}
                                    <li><a href="advisory/{{ adv.advisory_id }}">{{ adv }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>
        <!-- /.row -->

    </div>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Todd Hagler {% now "Y" %}</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src={% static "tracker/posts/vendor/jquery/jquery.min.js"%}></script>
    <script src={% static "tracker/posts/vendor/tether/tether.min.js"%}></script>
    <script src={% static "tracker/posts/vendor/bootstrap/js/bootstrap.min.js"%}></script>

</body>

</html>
