<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="mapid" style="width: 100%; height: 300px"></div>
                <script>

                var mymap = L.map('mapid').setView([29, -97], 3);


                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidGhhZ2xlciIsImEiOiJjaXU3N3F6NTcwaWF0MnpsaHpnY2xsMTNrIn0.kmD7jA6bL2R0YtXOervA1Q', {
                                maxZoom: 18,

                                id: 'mapbox.satellite'
                }).addTo(mymap);

                var storm_track = {{ geojson }};
                storm_track.addTo(mymap)






</script>

</body>
</html>