<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="mapid" style="width: 100%; height: 500px"></div>
                <script>





                var mymap = L.map('mapid').setView([29, -97], 3);


                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidGhhZ2xlciIsImEiOiJjaXU3N3F6NTcwaWF0MnpsaHpnY2xsMTNrIn0.kmD7jA6bL2R0YtXOervA1Q', {
                                maxZoom: 18,

                                id: 'mapbox.satellite'
                }).addTo(mymap);

                L.geoJSON({{ geojson|safe }},
                    {
                         style: function (feature) {
                             return {
                            "color": getColor(feature.properties.year),

        }}
                    }
                ).addTo(mymap);




function getColor(x) {
    if (x==2017){
        return 'rgba(255, 206, 86)'
    }
    else if (x==2016){
        return 'rgba(54, 162, 235, 0.75)'
    }
    else {
        return 'rgba(255, 99, 132, 0.75)'
    }

};




</script>

</body>
</html>